{% extends 'MyAppEspritBundle:views:template.html.twig' %}
{% block formulaire %}



    <div class="section-owlcarousel-full " id="header-home">
        <div class="item voyage">
            <img src="{{ asset('bundles/myappesprit/design/uploads/media/default/0001/01/thumb_988_default_big_wide.jpg') }}" alt="Trinidad - Cuba"/>
            <div class="caption-slider">
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-home-mobile">
                            <div class="block-info">
                                <div class="temperature icones hidden-xs">
                                    <ul class="list-unstyled hidden-xs">
                                        <li>
                                            <div class="head-icon">
                                                <div class="devise"></div>
                                                <div>
                                                    <div>devise</div>
                                                    <div>Peso CUC</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="head-icon">
                                                <div class="clock"></div>
                                                <div>
                                                    <div>heure locale</div>
                                                    <div>04:45</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="head-icon">
                                                <div  class="plane "></div>
                                                <div>
                                                    <div>temps de vol</div>
                                                    <div>10h00</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="surtitre">voyage à Cuba</div>
                                <div class="titre temperature">Joyaux de Cuba</div>
                                <div class="description"><p>D&eacute;couvrez les multiples facettes de la grande &icirc;le des Cara&iuml;bes : La Havane, sa capitale &agrave; l&rsquo;ambiance unique, sa vall&eacute;e des Mogotes aux &eacute;tranges formations calcaires devenues montagnes, &agrave; l&rsquo;ouest de l&rsquo;&icirc;le, et son chapelet de villes coloniales.</div>
                                <div class="block-button">
                                    {# <a href="nos-destinations/amerique-latine/cuba/joyaux-de-cuba.html" title="Découvrir">#}Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item voyage">
            <img src="{{ asset('bundles/myappesprit/design/uploads/media/default/0001/02/thumb_1138_default_big_wide.jpg') }}" alt="Trinidad - Cuba - Header, bannière, bandeau"/>
            <div class="caption-slider">
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-home-mobile">
                            <div class="block-info">
                                <div class="temperature icones hidden-xs">
                                    <ul class="list-unstyled hidden-xs">
                                        <li>
                                            <div class="head-icon">
                                                <div class="devise"></div>
                                                <div>
                                                    <div>devise</div>
                                                    <div>Peso CUC</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="head-icon">
                                                <div class="clock"></div>
                                                <div>
                                                    <div>heure locale</div>
                                                    <div>04:45</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="head-icon">
                                                <div  class="plane "></div>
                                                <div>
                                                    <div>temps de vol</div>
                                                    <div>10h00</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="surtitre">voyage à Cuba</div>
                                <div class="titre temperature">Incontournable Cuba</div>
                                <div class="description"><p>Partez &agrave; la d&eacute;couverte de Cuba, &icirc;le m&eacute;tiss&eacute;e et charmeuse, au patrimoine historique diss&eacute;min&eacute; dans les superbes villes de La Havane, Cienfuegos et Trinidad.</div>
                                <div class="block-button">
                                    {#  <a href="nos-destinations/amerique-latine/cuba/incontournable-cuba.html" title="Découvrir">#}Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item voyage">
            <img src="{{ asset('bundles/myappesprit/design/uploads/media/default/0001/01/thumb_268_default_big_wide.jpg') }}" alt="Volcan du Poas - Costa Rica"/>
            <div class="caption-slider">
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-home-mobile">
                            <div class="block-info">
                                <div class="temperature icones hidden-xs">
                                    <ul class="list-unstyled hidden-xs">
                                        <li>
                                            <div class="head-icon">
                                                <div class="devise"></div>
                                                <div>
                                                    <div>devise</div>
                                                    <div>Colon</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="head-icon">
                                                <div class="clock"></div>
                                                <div>
                                                    <div>heure locale</div>
                                                    <div>03:45</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="head-icon">
                                                <div  class="plane "></div>
                                                <div>
                                                    <div>temps de vol</div>
                                                    <div>11h00</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="surtitre">voyage au Costa Rica</div>
                                <div class="titre temperature">Costa Rica Express</div>
                                <div class="description"><p>Une exp&eacute;rience incroyable, en toute libert&eacute; et &agrave; votre rythme, &agrave; la d&eacute;couverte du Costa Rica, de l&rsquo;infinit&eacute; de ses parcs &agrave; la splendeur de ses plages immacul&eacute;es.</div>
                                <div class="block-button">
                                    {# <a href="nos-destinations/amerique-latine/costa-rica/costa-rica-express.html" title="Découvrir">#}Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item pays">
            <img src="{{ asset('bundles/myappesprit/design/uploads/media/default/0001/01/thumb_580_default_big_wide.jpg') }}" alt="Taj Mahal - Inde"/>
            <div class="caption-slider">
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-home-mobile">
                            <div class="block-info">
                                <div class="surtitre">Destination</div>
                                <div class="titre temperature">Inde</div>
                                <div class="description"><p>L&rsquo;Inde est un pays exceptionnel regorgeant de tr&eacute;sors historiques et culturels.</div>
                                <div class="block-button">
                                    {# <a href="nos-destinations/Asie/inde-2.html" title="DécouvrirInde">#}Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item pays">
            <img src="{{ asset('bundles/myappesprit/design/uploads/media/default/0001/01/thumb_613_default_big_wide.jpg') }}" alt="Ville d&#039;Ispahan - Iran"/>
            <div class="caption-slider">
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slide-home-mobile">
                            <div class="block-info">
                                <div class="surtitre">Destination</div>
                                <div class="titre temperature">Iran</div>
                                <div class="description"><p>Nous vous offrons l&rsquo;exclusivit&eacute; de d&eacute;couvrir l&rsquo;Iran d&rsquo;une fa&ccedil;on originale et personnalis&eacute;e.</div>
                                <div class="block-button">
                                    {# <a href="nos-destinations/Proche%20%26%20Moyen%20Orient/iran.html" title="DécouvrirIran">#}Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-owl-nav hidden-xs">
        <i class="icon icon-prev"></i>
        <i class="icon icon-next"></i>
    </div>
    <div class="custom-owl-dots hidden-xs">
        <div class="owl-dots">
            <span></span>
        </div>
    </div>
{% endblock %}