

<!DOCTYPE html>
<!--[if IE 8]><html lang="fr" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="fr" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="fr" class="no-js " xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#" >

<!-- Mirrored from www.ateliersduvoyage.com/demande-devis.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Nov 2016 09:56:50 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head >

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>Devis Voyage Gratuit, Personnalisé et Sur Mesure - Ateliers du Voyage</title>
    <meta name="keywords" content="ateliers du voyage, specialiste voyage sur mesure, voyage individuel, voyage culturel, circuit culturel, circuit sur mesure, circuit individuel" />
    <meta name="description" content="R&eacute;alisez le voyage de vos r&ecirc;ves. Demande de devis sur mesure des Ateliers du Voyage. Vagence de voyage sur mesure, s&eacute;jours &agrave; la carte, autotour et circuits - les Ateliers du Voyage." />
    <meta property="og:site_name" content="Ateliers du Voyage" />
    <meta property="og:description" content="D&eacute;couvrez les Ateliers du voyage et retrouvez nos circuits en individuel ou en petit groupe en Asie, Afrique, Am&eacute;rique Latine" />
    <meta property="og:type" content="article" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    <meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=4, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <!-- <link href="/bundles/vendor/select2/css/select2.min.css" rel="stylesheet" type="text/css" />-->
    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/main.css')}}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/loading.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/vendor/bootstrap-calendar/css/calendar.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/vendor/sweetalert/sweetalert.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/vendor/scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/vendor/datetimepicker/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/custom.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/mobile.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/vendor/bootstrap-3.3.5/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/vendor/chosen/chosen.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/cssprite.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/component.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/autocomplete.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/vendor/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/myappesprit/design/bundles/template/styles/v2.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/myappesprit/design/bundles/vendor/jquery-ui/jquery-ui.min.css') }}">



    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/jquery-1.9.1.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/bootstrap-calendar/js/underscore-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/modernizr.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/cdn.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/dep.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/bootstrap-3.3.5/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/bootstrap-calendar/js/language/fr-FR.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/bootstrap-calendar/js/calendar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/sweetalert/sweetalert.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/scrollbar/js/perfect-scrollbar.jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/scrollbar/js/perfect-scrollbar.jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/datetimepicker/js/moment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/datetimepicker/js/bootstrap-datetimepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/chosen/chosen.jquery.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/myappesprit/design/bundles/template/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/jquery-validation/dist/localization/messages_fr.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/jquery-validation-bootstrap-tooltip-master/jquery-validate.bootstrap-tooltip.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/mixitup/build/jquery.mixitup.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/jquery.unveil.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/vendor/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/custom.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/modernizr.custom.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/jquery.dlmenu.js') }}" type="text/javascript"></script>
    <!-- <script src="/bundles/vendor/select2/js/select2.full.min.js" type="text/javascript"></script>
     <script src="/bundles/vendor/select2/js/i18n/fr.js" type="text/javascript"></script>-->
    <script src="{{ asset('bundles/myappesprit/design/bundles/template/scripts/autocomplete.js') }}" type="text/javascript"></script>


</head>



<body >

<!-- OUR LOGO -->
<div class="row">
    <div class="logo">
        <a href="http://localhost/weenWeb/web/app_dev.php/personnalizedtrip" title="ween web">
            <img src="{{ asset('bundles/myappesprit/design/bundles/template/images/logo.png')}}" alt="Les Ateliers du voyage"/>
        </a>
    </div>
</div>
<!-- end logo-->





<h2> <strong> Formulaire De Contact</strong> </h2>

<hr>

<h3><p> Contacter nous </p></h3>

{{ form_start (form) }}

<table>

    <tr>

        <td> Nom </td>

        <td> {{ form_widget (form.nom) }} </td>

    </tr>

    <tr>

        <td> Prenom </td>

        <td> {{ form_widget (form.prenom) }} </td>

    </tr>

    <tr>

        <td> Téléphone </td>

        <td> {{ form_widget (form.tel) }} </td>

    </tr>

    <tr>

        <td> Email </td>

        <td> {{ form_widget (form.email) }} </td>

    </tr>

    <tr>

        <td> Text </td>

        <td> {{ form_widget (form.text) }} </td>

    </tr>

</table>

{{ form_end (form) }}

</body>
<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 block-newsletter hidden-xs">
                    <div class="title-footer">Receive our newsletter</div>
                    <div class="desc">If you want to follow our activities, Be the first to know about our new promotions ? Enter NOW your Email address to be our new weener !</div>
                    <div class="form">
                        <div class="newsletter-form" id="newsleter-url" data-url="/ajax/newsletter">
                            <input name="email" type="email" class="field-email">
                            <span class="field-submit">&plus;</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 block-img hidden-xs hidden-sm">
                    <img src="{{ asset('bundles/myappesprit/design/bundles/template/images/img-5.png')}}" alt="Company"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 block-address" itemscope itemtype="http://schema.org/TravelAgency">
                    <div class="title-footer">Our Agency</div>
                    <div class="desc" >
                        <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="name">Ween</span> - <br><span itemprop="streetAddress">Chotrana</span> - <span itemprop="postalCode">3277</span> <span itemprop="addressLocality">Ariana</span></p>
                        <p>Time :<br><time datetime="Mo,Th 10:00-18:30" itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">From Monday To Saturday <span itemprop="opens" content="10:00">9 AM</span>  <span itemprop="opens" content="18:30">6 PM</span></time><br><time itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification" datetime="Th,Su 10:00-18:00">  </time></p>
                    </div>
                    <div class="social-link">
                        <a href="https://fr-fr.facebook.com/ateliersduvoyage" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-2 hidden-xs">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="title-footer-small">Personnalized Trip</div>
                    <ul>
                        <li><a href="demande-devis.html" title="Voyages sur mesure">Personnalized Trip</a></li>
                        <li><a href="demande-devis.html" title="Voyages de noces">Voyages de noces</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="title-footer-small">Our Trips</div>
                    <ul>
                        <li><a href="inspirations.html" title="Nos inspirations">Our Inspiration</a></li>
                        <li><a href="voyages.html" title="Tous nos voyages">All Trips</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="title-footer-small">Who are we ?</div>
                    <ul>
                        <li><a href="vos-conseillers.html" title="Nos conseillers">Help</a></li>
                        <li><a href="notre-agence.html" title="Notre agence">Our Agency</a></li>
                        <li><a href="http://www.tourisme-responsable.org/membres/les-ateliers-du-voyage/" title="Membre d&#039;ATR">Membre d&#039;ATR</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="title-footer-small">Our services</div>
                    <ul>
                        <li><a href="demande-devis.html" title="Demande de devis">Quotation</a></li>
                        <li><a href="nos-brochures.html" title="Nos brochures">Flyers</a></li>
                        <li><a href="http://kuoni.onelist.fr/Créeruneliste.aspx?" title="Liste de mariage">Liste de mariage</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="title-footer-small">Our Destination</div>
                    <ul>
                        <li><a href="nos-destinations/afrique.html" title="Afrique">Africa</a></li>
                        <li><a href="nos-destinations/amerique-latine.html" title="Amérique Latine">Latin America</a></li>
                        <li><a href="nos-destinations/asie.html" title="Asie">Asie</a></li>
                        <li><a href="nos-destinations/ocean-Indien.html" title="Océan Indien">Indian Ocean</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="block-footer-bottom">
        <div class="block-link container ">
            <ul class="row">
                <li><a href="javascript:;" title="Accueil">Ween </a></li>
                <li class="hidden-sm hidden-md hidden-lg col-xs-12"><a>-</a></li>
                <li><a href="http://www.calameo.com/read/004177066c1a7e9556c76?authid=8tjQGdDIOTZO" target="_Blank" title="CONDITIONS GENERALES" class="modal-cgv-link">CONDITIONS GENERALES</a></li><!--/condition-de-vente-->
                <li class="hidden-sm hidden-md hidden-lg col-xs-12"><a>-</a></li>
                <li><a href="mentions-legales.html" title="Mentions légales">Mentions légales</a></li>
                <li class="hidden-sm hidden-md hidden-lg col-xs-12"><a>-</a></li>
                <li><a href="plan-du-site.html" title="Plan du site">Plan du site </a></li>
            </ul>
        </div>
        <div class="block-coppyright">Copyright ween all right reserved</div>
        <div class="gotop"><a href="javascript:;"><i class="fa fa-arrow-up"></i></a></div>
    </div>
</footer>